$color-black: #1e2328;
$color-bluish-black: #020b14;
$color-light-blue: #178493;
$color-gold: lighten(#5d4623, 20%);
$color-gray: #494a49;
$color-white: white;

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Timeless;
    src: url(./fonts/Timeless.ttf);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    font-family: Timeless;
}

body {
    background-color: $color-black;
    background-image: url(https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/content/src/leagueclient/gamemodeassets/classic_sru/img/parties-background.jpg);
    background-position: bottom left;
}

header {
    height: 12%;
    border-top: $color-gold 2px solid;
    border-bottom: $color-gray 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.lobby {
    position: relative;
    border: $color-gold 1px solid;
    background-color: $color-black;
    margin-top: auto;
    margin-bottom: auto;
    height: 44px;
    width: 12em;
    padding-left: 2em;
    margin-left: 32px;
    margin-right: 10px;
    color: $color-white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Timeless;
    cursor: pointer;

    &:hover {
        .outer-frame::before,
        .inner-frame {
            border-color: $color-light-blue;
        }
    }

    .logo {
        width: 44px;
        height: 44px;
        left: -18px;
        top: -1px;
        position: absolute;
    }

    .outer-frame {
        // background-color: $color-gray;
        border: $color-bluish-black 3px solid;
        overflow: hidden;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: stretch;
        justify-content: stretch;
        height: 100%;
        width: 100%;

        &::before {
            content: ' ';
            display: block;
            border-radius: 50%;
            width: 46px;
            height: 46px;
            position: absolute;
            top: -6px;
            left: -21px;
            background-color: $color-bluish-black;
            border: $color-gray 2px solid;
        }
    }

    .inner-frame {
        background-color: $color-black;
        border: $color-gray 2px solid;
        flex-grow: 1;
        padding-left: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1em;
        letter-spacing: 1px;
    }
}

.main-navigation {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;

    a {
        padding: 0 1em;
        margin: 0 .25em;
        text-transform: uppercase;
        font-size: .8em;
        display: flex;
        align-items: center;
        color: $color-white;
        text-decoration: none;
        position: relative;

        &::before {
            content: ' ';
            transition: all 400ms ease;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: linear-gradient(to bottom, transparent, #FFFFFF22)
        }

        .active-arrow {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: calc(50% - 12px);
            width: 0;
            height: 0;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-top: 16px solid $color-gold;

            &::before {
                content: ' ';
                position: absolute;
                top: -16px;
                left: -11px;
                width: 0;
                height: 0;
                border-left: 11px solid transparent;
                border-right: 11px solid transparent;
                border-top: 13px solid $color-bluish-black;
            }

            > div {
                position: absolute;
                top: -16px;
                left: -6px;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 7px solid $color-gold;

                &::before {
                    content: ' ';
                    position: absolute;
                    top: -8px;
                    left: -4px;
                    width: 0;
                    height: 0;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 5px solid $color-bluish-black;
                }
            }
        }

        &.active {
            .active-arrow {
                visibility: visible;
            }
        }

        &.active,
        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }
}
